<a href="{{ image.src | img_url: '1024x1024', scale: 2 }}" name="VX013794"
title="{{title}}">
<figure><img src="{{ image.src | img_url: 'compact' }}"
    data-zoom-image="{{ image.src | img_url: 'compact' }}"
    alt="{{ image.alt | escape }}" class="block-src-l--image"></figure>
</a>


<a href="https://allu-official.com/img/goods/7/VX013794-7.JPG" name="VX013794"
                  title="バレンシアガ 16年 ナイロン ナイロンジャケット S メンズ ブラック  ロゴ">
                  <figure><img src="https://allu-official.com/img/goods/7/VX013794-7.JPG"
                      data-zoom-image="https://allu-official.com/img/goods/7/VX013794-7.JPG"
                      alt="バレンシアガ 16年 ナイロン ナイロンジャケット S メンズ ブラック  ロゴ" class="block-src-l--image"></figure>
                </a>