<footer class="pane-footer">
  <div class="container">
    <p id="footer_pagetop" class="block-page-top"><a href="javascript:void(0);"></a></p>

    ahihi : {{ section.settings.footer_menu_name}}
    <!--ここから-->
    <div class="block-footer-description">
      <a href="#">
        <div class="container">
          <h2>{{ 'general.allu.footer.online_store_service' | t }}</h2>
          <ul class="points">
            <li>
              <p class="icon">
                <img src="https://allu-official.com/img/usr/common/footer/icn_footer_quality.png" alt="安心の品質">
              </p>
              <div class="desc">
                <h4>安心の品質</h4>
                <p>
                  すべての商品は経験豊かな鑑定士が査定済み。<br>
                  責任を持って品質を保証します。
                </p>
              </div>
            </li>
            <li>
              <p class="icon"><img src="https://allu-official.com/img/usr/common/footer/icn_footer_return.png"
                  alt="返品無料"></p>
              <div class="desc">
                <h4>返品無料</h4>
                <p>
                  「サイズが合わなかった」「イメージと違った」等の<br>
                  理由による返品が可能です。
                </p>
              </div>
            </li>
            <li>
              <p class="icon"><img src="https://allu-official.com/img/usr/common/footer/icn_footer_speed.png"
                  alt="最短翌日お届け">
              </p>
              <div class="desc">
                <h4>最短翌日お届け</h4>
                <p>
                  12時までにご入金の確認が取れた場合は当日に配送。<br>
                  最短で翌日にお届けいたします。
                </p>
              </div>
            </li>
          </ul>
        </div>
      </a>
    </div>

    <div class="block-footer-sns">
      <ul class="mailmagazine-line">
        <li class="mailmagazine">
          <div class="row">
            <p><img src="https://allu-official.com/img/usr/common/footer/mail.png" alt="Mail"></p>
            <div class="txt">
              <p class="main">
                メルマガで<br>新着情報やお得なクーポンをGET
              </p>
              <p class="sub">
                ALLU ONLINEのメルマガサービスでは、新着情報やSALE情報、お得なクーポンをお届けします。<br><br>
              </p>
            </div>
          </div>
          <a href="https://allu-official.com/shop/customer/entry.aspx">
            会員登録をする
          </a>
        </li>
        <li class="line">
          <div class="row">
            <p><img src="https://allu-official.com/img/usr/common/footer/line.png" alt="LINE"></p>
            <div class="txt">
              <p class="main">
                LINE公式アカウントなら<br>リアルタイムで新着情報をGET
              </p>
              <p class="sub">
                ALLU ONLINEのLINE公式アカウントでは、新着情報をいち早くGETできます。入荷後即完売のアイテムも手に入れられるかも？
              </p>
            </div>
          </div>
          <a href="https://lin.ee/wv7OV06" target="_blank">
            LINEともだち追加する
          </a>
        </li>
      </ul>
      <ul class="sns-list">
        <li class="sns-item instagram">
          <a href="https://twitter.com/allu__official" target="_blank">
            <img src="https://allu-official.com/img/usr/common/footer/twitter.png" alt="Twitter">Twitter
          </a>
        </li>
        <li class="sns-item instagram">
          <a href="https://www.instagram.com/allu_onlinestore/" target="_blank">
            <img src="https://allu-official.com/img/usr/common/footer/insta.png" alt="INSTAGRAM">INSTAGRAM
          </a>
        </li>
        <li class="sns-item facebook">
          <a href="https://www.facebook.com/Allu_onlinestore-2270272379883513/" target="_blank">
            <img src="https://allu-official.com/img/usr/common/footer/facebook.png" alt="Facebook">Facebook
          </a>
        </li>
      </ul>
    </div>

    <div id="footernav" class="block-footernav">
      {% for link in linklists[section.settings.footer_menu_name].links %}
        <div class="block-footernav--col block-footernav--col-0{{ forloop.index }}">
          {% if forloop.index == 1 %}
            <h3 class="block-footernav--item-title"><a href="{{ link.url }}">{{ link.title }}</a></h3>
          {% else %}
            <h3 class="block-footernav--item-title">{{ link.title }}</h3>
          {% endif %}
          
          {% if link.links.size > 0 %}
              {% for subLink in link.links %}
              {% assign col = forloop.index | modulo:5 %}
                {% if col == 1 and forloop.index < 10 %}
                  <ul class="block-footernav--item-list">
                {% endif %}
                    <li><a href="{{ subLink.url }}">{{ subLink.title }}</a></li>

                {% if forloop.last == true or forloop.index == 5 %}
                  </ul>
                {% endif %}
              {% endfor %}
            {% endif %}
        </div>
      {% endfor %}

    <div class="block-site-coution">
      <p class="block-site-coution-title">{{ 'general.allu.footer.coution_title' | t }}</p>
      <p class="block-site-coution-text">{{ 'general.allu.footer.coution_text_html' | t: url: '#' }}</p>
    </div> 
    <div class="block-kouankyoka-num">
      <p>{{ 'general.allu.footer.kouankyoka' | t }}</p>
    </div>
    <!--ここまで-->

  </div>
  <div class="block-footer-bottom">
    <div class="container">
      <div class="block-footer-privacy-mark">
        <a href="#" target="block-category-style-p--item__haveimg"> 
          <img src="https://allu-official.com/img/usr/common/footer/footer_privacy_mark.gif" alt="たいせつにしますプライバシー 17002456(02)"> </a>
      </div>
      <p id="copyright" class="block-copyright">{{ 'general.allu.footer.copy' | t }}</p>
    </div>
  </div>
</footer>



{% schema %}
{
  "name": "t:sections.allu-footer.name",
  "blocks": [
    {
      "type": "store_service",
      "name": "t:sections.allu-footer.blocks.store_service.name",
      "settings": [
        {
          "type": "url",
          "id": "icon_src",
          "label": "t:sections.allu-footer.blocks.store_service.settings.icon_src.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "footer",
          "label": "t:sections.allu-footer.blocks.store_service.settings.title.label"
        },
        {
          "type": "text",
          "id": "des_content_html",
          "default": "footer",
          "label": "t:sections.allu-footer.blocks.store_service.settings.des_content_html.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "footer_menu_name",
      "label": "t:sections.allu-footer.settings.footer_menu_name.label",
      "default": "footer"
    }
  ]
}
{% endschema %}
