<header id="header" class="pane-header">
  <div class="block-header-bnr">
	  <script src="{{ 'allu-top-banner-random.js' | asset_url }}" defer="defer"></script>
    <top-banner data-url="{{settings.api_url}}/api/top-banner-random"></top-banner>
  </div>
  <div class="block-header">
    <div class="block-header-logo">
      <h1>
        <a class="block-header-logo--link" href="/">
          <img class="block-header-logo--img" alt="{{settings.logo_alt}}" src="{{settings.logo_url}}"> 
        </a>
      </h1>
    </div>
    <div class="block-headernav">
      <ul class="block-headernav--item-list">
        <li>
          <a href="#" class="js-dropdown-menu-trigger" data-dropdown-menu-content=".js-dropdown-menu-content-favorite">
            <span class="icon icon-favorite"></span> <span class="label">{{ 'general.allu.header.favorite' | t }}</span>
          </a>
        </li>
        <li>

          {% if customer %}
          {% capture first_name %}<a href="{{ routes.account_url }}">{{ customer.first_name }}</a>{% endcapture %}
          {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }} &middot; {{ 'layout.customer.log_out' | t | customer_logout_link }}
          {% else %}
          {{ 'general.allu.header.login_html' | t | customer_login_link }}
          {% endif %}

        </li>
        <li>
          <a href="{{ routes.cart_url }}"> <span class="icon icon-bag"></span>
            <span class="block-headernav--cart-count js-cart-count"></span>
            <span class="label">{{ 'general.allu.header.cart' | t }}</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon icon-stock"></span> 
            <span class="block-headernav--stock-count js-stock-count"></span>
            <span class="label">{{ 'general.allu.header.back_order' | t }}</span> 
          </a> 
        </li>
      </ul>
    </div>
  </div>
</header>




<div class="dropdown-menu-content dropdown-menu-content-favorite js-dropdown-menu-content-favorite">
  <ul>
    <li><a href="#">{{ 'general.allu.header.item_list' | t }}</a></li>
    <li><a href="#">{{ 'general.allu.header.brand_list' | t }}</a></li>
  </ul>
</div>
