{{ 'https://show.revico.jp/css/comment.css' | stylesheet_tag }}

<div class="revico-comment-outer-head" data-review-count="656">
  <div class="block-top-event--header-wrapper">
    <h2 class="block-top-event--header-revico common-h2">
      <a href="https://allu-official.com/shop/pages/userreview.aspx"
        >USER REVIEW</a
      >
    </h2>
  </div>
</div>

<div id="revico-comment" class="revico-comment-body" data-review-count="656">
  <div class="revico-logo"></div>
  <div class="revico-comment-main revico-widget">
    <div class="revico-comment-header">
      <div class="revico-comment-header-wrapper">
        <div class="revico-comment-filter"><span>絞り込み</span></div>
        <div class="revico-comment-sort"><span>表示：新しい順</span></div>
        <ul class="revico-comment-sort-select" style="display: none">
          <li data-sort="date">新しい順</li>
          <li data-sort="helpful">参考になった順</li>
          <li data-sort="like">Like!が多い順</li>
        </ul>
      </div>
    </div>
    <div class="revico-comment-tagcloud" style="">
      <div class="revico-comment-tagcloud-wrapper">
        <p
          class="revico-comment-tagcloud-tag revico-comment-tagcloud-description"
        >
          気になるレビューを表示<span style="display: none"></span>
        </p>
      </div>
      <p class="revico-comment-tagcloud-tag">
        <script src="{{ 'allu-user-review-filter.js' | asset_url }}"defer="defer"></script>
        <review-filters
        data-url="{{settings.api_url}}/api/review-filter"
        >
        </review-filters>
      </p>
    </div>

    <script
      src="{{ 'allu-user-review-content.js' | asset_url }}"
      defer="defer"
    ></script>
    <review-contents
      data-url="{{settings.api_url}}/api/user-review"
    ></review-contents>

    <div class="revico-comment-footer">
      <div class="revico-review-comment-footer--more">
        <button type="button"><span>もっと見る</span></button>
      </div>
      <div class="revico-comment-footer--paging-buttons">
        <button type="button" class="revico-comment-footer--filter">
          <span>絞り込み</span>
        </button>
        <button type="button" class="revico-comment-footer--sort">
          <span>表示：新しい順</span>
        </button>
        <ul class="revico-comment-footer--sort-select" style="display: none">
          <li data-sort="date">新しい順</li>
          <li data-sort="helpful">参考になった順</li>
          <li data-sort="like">Like!が多い順</li>
        </ul>
      </div>
    </div>
  </div>
  <script>
    (function () {
      if (typeof revico_comment_complete === 'function') {
        revico_comment_complete();
      }
    })();
  </script>
</div>

<style>
  .block-top-userreview--btn-more {
    text-align: center;
    margin: 50px 0;
  }

  .block-top-userreview--btn-more a {
    padding: 18px 81px;
  }
</style>

<div class="revico-comment-outer-foot" data-review-count="656">
  <div class="block-top-userreview--btn-more">
    <a
      class="btn btn-default"
      href="https://allu-official.com/shop/pages/userreview.aspx"
      >VIEW ALL</a
    >
  </div>
</div>

<div class="pane-right-menu">
  <div id="block_of_itemhistory" class="block-recent-item">
    <h2 class="block-recent-item--header">最近見た商品</h2>
  </div>
</div>
