<footer class="pane-footer">
  <div class="container">
    <p id="footer_pagetop" class="block-page-top"><a href="javascript:void(0);"></a></p>

    <!--ここから-->
    <div class="block-footer-description">
      <a href="#">
        <div class="container">
          <h2>{{ 'general.allu.footer.online_store_service' | t }}</h2>
          <ul class="points">
            {%- for block in section.blocks -%} 
              {% if block.type == "store_service" %}
                <li>
                  <p class="icon">
                    <img src="{{ block.settings.icon_src }}" alt="{{ block.settings.title }}">
                  </p>
                  <div class="desc">
                    <h4>{{ block.settings.title }}</h4>
                    <p>{{ block.settings.des_content_html }}</p>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </a>
    </div>

    <div class="block-footer-sns">
      <ul class="mailmagazine-line">

        {%- for block in section.blocks -%} 
          {% if block.type == "mail_magazine" %}
            <li class="mailmagazine">
              <div class="row">
                <p><img src="{{block.settings.image_src}}" alt="{{block.settings.magazine_name}}"></p>
                <div class="txt">
                  <p class="main">
                    {{block.settings.magazine_main_html}}
                  </p>
                  <p class="sub">
                    {{block.settings.magazine_sub_html}}
                  </p>
                </div>
              </div>
              <a href="{{block.settings.link}}">
                {{block.settings.link_text}}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="sns-list">
        {%- for block in section.blocks -%} 
          {% if block.type == "sns_item" %}
            <li class="sns-item {{block.settings.sns_item_class}}">
              <a href="{{block.settings.sns_item_link}}" target="_blank">
                <img src="{{block.settings.sns_item_image}}" alt="{{block.settings.sns_item_name}}">{{block.settings.sns_item_name}}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div id="footernav" class="block-footernav">
      {% for link in linklists[section.settings.footer_menu_name].links %}
        <div class="block-footernav--col block-footernav--col-0{{ forloop.index }}">
          {% if forloop.index == 1 %}
            <h3 class="block-footernav--item-title"><a href="{{ link.url }}">{{ link.title }}</a></h3>
          {% else %}
            <h3 class="block-footernav--item-title">{{ link.title }}</h3>
          {% endif %}
          
          {% if link.links.size > 0 %}
              {% for subLink in link.links %}
              {% assign col = forloop.index | modulo:5 %}
                {% if col == 1 and forloop.index < 10 %}
                  <ul class="block-footernav--item-list">
                {% endif %}
                    <li><a href="{{ subLink.url }}">{{ subLink.title }}</a></li>

                {% if forloop.last == true or forloop.index == 5 %}
                  </ul>
                {% endif %}
              {% endfor %}
            {% endif %}
        </div>
      {% endfor %}

    <div class="block-site-coution">
      <p class="block-site-coution-title">{{ 'general.allu.footer.coution_title' | t }}</p>
      <p class="block-site-coution-text">{{ 'general.allu.footer.coution_text_html' | t: url: '#' }}</p>
    </div> 
    <div class="block-kouankyoka-num">
      <p>{{ 'general.allu.footer.kouankyoka' | t }}</p>
    </div>
    <!--ここまで-->

  </div>
  <div class="block-footer-bottom">
    <div class="container">
      <div class="block-footer-privacy-mark">
        <a href="#" target="block-category-style-p--item__haveimg"> 
          <img src="{{section.settings.footer_privacy_mark}}" alt="{{section.settings.footer_privacy_mark_alt}}"> </a>
      </div>
      <p id="copyright" class="block-copyright">{{ 'general.allu.footer.copy' | t }}</p>
    </div>
  </div>
</footer>



{% schema %}
{
  "name": "t:sections.allu-footer.name",
  "blocks": [
    {
      "type": "store_service",
      "name": "t:sections.allu-footer.blocks.store_service.name",
      "settings": [
        {
          "type": "url",
          "id": "icon_src",
          "label": "t:sections.allu-footer.blocks.store_service.settings.icon_src.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.allu-footer.blocks.store_service.settings.title.label"
        },
        {
          "type": "text",
          "id": "des_content_html",
          "label": "t:sections.allu-footer.blocks.store_service.settings.des_content_html.label"
        }
      ]
    },
    {
      "type": "mail_magazine",
      "name": "t:sections.allu-footer.blocks.mail_magazine.name",
      "settings": [
        {
          "type": "url",
          "id": "image_src",
          "label": "t:sections.allu-footer.blocks.mail_magazine.settings.image_src.label"
        },
        {
          "type": "text",
          "id": "magazine_name",
          "label": "t:sections.allu-footer.blocks.mail_magazine.settings.magazine_name.label"
        },
        {
          "type": "text",
          "id": "magazine_main_html",
          "label": "t:sections.allu-footer.blocks.mail_magazine.settings.magazine_main_html.label"
        },
        {
          "type": "text",
          "id": "magazine_sub_html",
          "label": "t:sections.allu-footer.blocks.mail_magazine.settings.magazine_sub_html.label"
        },
        {
          "type": "text",
          "id": "link",
          "label": "t:sections.allu-footer.blocks.mail_magazine.settings.link.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.allu-footer.blocks.mail_magazine.settings.link_text.label"
        }
      ]
    },
    {
      "type": "sns_item",
      "name": "t:sections.allu-footer.blocks.sns_item.name",
      "settings": [
        {
          "type": "text",
          "id": "sns_item_class",
          "label": "t:sections.allu-footer.blocks.sns_item.settings.sns_item_class.label"
        },
        {
          "type": "url",
          "id": "sns_item_link",
          "label": "t:sections.allu-footer.blocks.sns_item.settings.sns_item_link.label"
        },
        {
          "type": "text",
          "id": "sns_item_name",
          "label": "t:sections.allu-footer.blocks.sns_item.settings.sns_item_name.label"
        },
        {
          "type": "url",
          "id": "sns_item_image",
          "label": "t:sections.allu-footer.blocks.sns_item.settings.sns_item_image.label"
        }
      ]
    }
  ],
  "settings": [
  {
    "type": "text",
    "id": "footer_menu_name",
    "label": "t:sections.allu-footer.settings.footer_menu_name.label"
  },
  {
    "type": "url",
    "id": "footer_privacy_mark",
    "label": "t:sections.allu-footer.settings.footer_privacy_mark.label"
  },
  {
    "type": "text",
    "id": "footer_privacy_mark_alt",
    "label": "t:sections.allu-footer.settings.footer_privacy_mark_alt.label"
  }
  ]
}
{% endschema %}
